.game-screen {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

canvas {
    background-color: black;
    display: block;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
}